---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Title from "../components/Title.astro";
import Header from "../components/Header.astro";
import Link from "../components/Link.astro";
import ProductLayout from "../layouts/ProductLayout.astro";
---

<ProductLayout pageTitle="Ducklab">
	<Fragment slot="title">
		<Title title="DuckLab" />
		<p class="subtitle">
			Interactive SQL, Python and PySpark Notebook environment
		</p>
	</Fragment>

	<Fragment slot="buttons">
		<Link text="DuckLab for Web" href="https://lab.ducklake.io" />
		<Link
			text="DuckLab for VS Code"
			href="https://marketplace.visualstudio.com/items?itemName=ducklake.ducklab"
		/>
	</Fragment>

	<Fragment slot="cards">
		<Card
			title="Interactive Notebooks "
			body="Interactive notebook supporting SQL and Python."
		/>
		<Card
			title="Simple File Format"
			body="Ducklab uses .isql file format which, unlike ipynb, is git-friendly and human readable."
		/>
		<Card
			title="Pyspark Support (experimental)"
			body="Run pyspark code locally in your notebook using duckdb."
		/>
		<Card
			title="Import Databricks .py Files"
			body="Import Databricks .py notebooks using Ducklab for VS Code."
		/>
		<Card
			title="Private by Default"
			body="Ducklab has no backend. It does all the processing within your machine."
		/>
	</Fragment>
	
</ProductLayout>

<style>
	.tagline {
		margin: 0;
		margin-bottom: 15px;
		color: var(--theme-color-brand2);
		font-size: 24px;
		font-weight: bold;
		text-shadow: 1px 1px 5px var(--theme-color-brand1);
	}
	.subtitle {
		font-size: 36px;
		font-weight: lighter;
		margin-bottom: 7px;
		margin-top: 5px;
		/* max-width: 60%; */
		padding: 0;
		line-height: 100%;
		font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
			"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
			"Noto Color Emoji";
	}

	@media screen and (max-width: 560px) {
		.subtitle {
			text-align: center;
		}
	}

</style>
