---
import Card from "../components/Card.astro";
import Title from "../components/Title.astro";
import ProductLayout from "../layouts/ProductLayout.astro";
---

<ProductLayout pageTitle="DuckLake">
	<div slot="title">
		<Title title="DuckLake" />
		<p class="subtitle">Small Data Tools</p>
	</div>
	<Fragment slot="cards">
		<Card
			href="/ducklab"
			title="DuckLab"
			body="Interactive SQL, Python and PySpark notebook environment powered by Duckdb"
		/>
	</Fragment>
</ProductLayout>

<style>
	.subtitle {
		font-size: 36px;
		font-weight: lighter;
		margin-bottom: 7px;
		margin-top: 5px;
		padding: 0;
		line-height: 100%;
		font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
			"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
			"Noto Color Emoji";
	}

</style>
