
<header>
    <nav>
        <a class="logo" href="/">
            <img class="logo-img" alt="light mode logo" src="/images/logo_light.png" />
            <p class="title"><span class="duck">Duck</span><span class="lake">Lake</span></p>
        </a>
    </nav>
</header>

<style>
    header {
        background-color: var(--theme-color-brand4);
        padding: 12px;
        position: sticky;
        top: 0;
    }
    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        height: 100%;
        text-decoration: none;
        user-select: none;
    }
    .logo-img {
        margin-right: 12px;
        height: 30px;
        margin-right: 7px;
    }
    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "MontserratAlt1-Light";
        font-size: 100%;
        font-weight: bold;
        margin: 0;
        /* text-transform: uppercase; */
        font-size: 24px;
        color: var(--theme-color-brand1);
    }
    .duck {
        padding-top: 3%;
    }
    .lake {
        padding-top: 3%;
        background-color: var(--theme-color-brand1);
        color: var(--theme-color-brand2);
        /* border-bottom: 2px solid var(--theme-color-brand1); */
    }
</style>
